/.phpunit.cache
/node_modules
# /public/build
/public/hot
# /public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed

!storage/app/public/invoices/
!storage/app/public/receipts/
!storage/app/public/reports/
!storage/app/public/json/
!storage/app/public/json/xrf_data/
!storage/app/public/images/
!storage/app/public/images/Docs/
!storage/app/public/images/inspection_photos/
!storage/app/public/images/inspections/

